*{
    margin: 0;
    border: 0;
    padding: 0;
}

button {
    margin: 8px 0;
}


body{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    height: 100dvh;
    justify-content: center;
}

.rowContainer{
    display: flex;
    flex-direction: column;
    background-color: black;
}

.rowContainer > div {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.rowContainer > div > div {
    display: flex;
    flex-grow: 1;
    background-color: rgb(255, 255, 255);
    opacity: 1.1;
}